<html>
    <head>
        <title> 机房网盘 </title>
        <script src = "/static/js/jquery-3.6.0.min.js"></script>
        <link rel = "stylesheet" href = "/static/css/common.css" />
    </head>
    <body>
        <div class="cardtype1">
            <h1 class='mid'> 机房网盘 </h1>
            <form action = "" method="post" enctype="multipart/form-data">
                <p><input type="file" name="uploaded_files" multiple = "multiple" /></p>
                <p><input type="submit" value="上传" /></p>
            </form>

            {% if path != '' %}
                <a href = "../">返回</a>
            {% endif %}
            {% set local_path = directory_path + path %}
            {% for item in os.listdir(local_path) %}
                <script> console.log('{{item}}') </script>
                {% if os.path.isdir(os.path.join(local_path, item)) %}
                    <p><a href = "./{{item}}/"> {{item + '/'}} </a></p>
                {% endif %}
            {% endfor %}

            {% for item in os.listdir(local_path) %}
                {% if os.path.isfile(os.path.join(local_path, item)) %}
                    <p><a href = "{{ '/' + directory_path + path + '/' + item + '/' }}"> {{item}} </a></p>
                {% endif %}
            {% endfor %}
        </div>
    </body>
</html>