<html>
    <head>
        <title> 机房网盘 </title>
        <script src = "/static/js/jquery-3.6.0.min.js"></script>
        <link rel = "stylesheet" href = "/static/css/common.css" />
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
    <script>
        {% block script %}
        {% endblock %}
    </script>
</html>